div {
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffffea;
}

input[type=text] {
  width: 20vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  /* WE gotta support all broswers */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}