<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insert.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
		<title>Insert values</title>
	</head>
	<body>
		<ul>
			<li><a href="/" >Home</a></li>				
			<li><a href="/insert/part">New Part</a></li>
			<li><a href="/insert/man">New Manufacturer</a></li>
			<li><a href="/insert/order">New Order</a></li>
			<li><a href="/insert/op">New Ordered Part</a></li>
			<li><a href="/insert/cust">New Customer</a></li>
			<li><a href="/list/part">List Parts</a></li>
			<li><a href="/list/manufacturer">List Manufacturer</a></li>
			<li><a href="/list/order">List Orders</a></li>
			<li><a href="/list/ordered_part">List Ordered Part</a></li>
			<li><a href="/list/customer">List Customers</a></li>
		</ul>
		<div style="margin-left:25%;padding:1px 16px;height:100%;">
			<h3> Please insert the correct information, do not leave any fields blank. </h3>
			<br><br><br>
			<form action="{{ url_for(url) }}" method="POST" onsubmit=showHide(); return false;>
				{% for key, value in content.items() %} 
				  {% if key not in ["a_date", "date_ordered", "mname"] %}
				    {{ value }}
						<br>
						<input type="text" name={{ key }} placeholder={{ key }} required/>
				<br>
			    {% elif key == "mname" %}
			      <br>
		        <select name="mname">
					{% for i in rows %}
						<option value={{ i[0] }}>{{ i[0] }}</option> 
		      {% endfor %}
				  {% else %} 
				    {{ value }}
				<br>
				<input type="date" name={{ key }} required/>
				<br> {% endif %} {% endfor %}
				<br>
				<input style="margin-left: 10px; height: 20px;" class="button" value="Submit" type="submit"/>
			</form>
		</div>
	</body>		
</html>
