<!doctype html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}" />
    <title>Listing</title>
  </head>
  <body>
    <ul>
			<li><a href="/" >Home</a></li>				
			<li><a href="/insert/part">New Part</a></li>
			<li><a href="/insert/man">New Manufacturer</a></li>
			<li><a href="/insert/order">New Order</a></li>
			<li><a href="/insert/op">New Ordered Part</a></li>
			<li><a href="/insert/cust">New Customer</a></li>
			<li><a href="/list/part">List Parts</a></li>
			<li><a href="/list/manufacturer">List Manufacturer</a></li>
			<li><a href="/list/order">List Orders</a></li>
			<li><a href="/list/ordered_part">List Ordered Part</a></li>
			<li><a href="/list/customer">List Customers</a></li>
		</ul>
    <div style="margin-left:25%; padding:1px 16px; height:100%;">
	    <div class="searchBar" style="margin-top: 15px; margin-bottom: 15px; padding: 1px 16px;">
        <form action="{{ url_for('search', itype=tname) }}" method="POST">
          <select name="selection">
            {% for col in names %}
            <option value="{{ col }}">{{ col }}</option>
            {% endfor %}
          </select>
          <input class="searchBar" type=text name="search" placeholder="Search...">
        </form>
      </div>
      <table>
        <thead>
          <tr>
            {% for col in names %}
              <th>{{ col }}</th> 
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            {% for i in row %}
              {% if row[0] == i %}
                {% if names[0] == 'part_id' and names[1] == 'order_id' %}
                  <td><a href="{{ url_for('display',itype=tname, ident1=row[0], ident2=row[1]) }}" >{{ i }}</a> </td>
                {% else %}
                  <td><a href="{{ url_for('display',itype=tname, ident1=row[0]) }}">{{ i }}</a></td>
                {% endif %}      
              {% else %}
                <td>{{ i }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
